body{
  width: 100%;
  height: 150vh;
  background: beige;
}
/* ------------- NAV Section ------------------------------------------------------------------------- */
nav{  /* Main Nav DIV */
  position:fixed;
  top:0;
  left:0;
  right:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:5px 20px 5px 0px;
  background: black;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.name{
  color: white;
  font-size: 20px;
  margin: 10px;
}
.menu-item{ /* List Div */
  display:inline-block;
  margin-left:15px;
  margin-top: 10px;
}
.menu-item a, .time{ /* The link for each list item & the time DIV */
  font-weight:400;
  color: white;
  font-size: 20px;
  margin: 10px;
}
/* ------------- Title of the page Section ----------------------------------------------------------------------- */
.site-title{  /*WELCOME TO MY PAGE SECTION */
    height: 35vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.title{
    padding-top: 10%;
    color:black;
    font-size: 50px;
    letter-spacing: 1px;
    font-family: Cambria,Georgia,serif; 
}
/* ------------- Holiday Photo Section ------------------------------------------------------------------------- */
.holiday-pictures{ /* Section containg the image */
    margin: 0 auto;
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.image{
    list-style: none;
    margin: 4%;
}
.image img {  /*indivdual images */
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
.image img:hover{  /*Will Scale the IMG based on hover */
    transform: scale(1.2,1.2);
}
/* ------------- Section Describing The about of the page ------------------------------------------------------ */
.about-website{ /* Main DIV */
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.about-title{
    color:black;
    font-family: Cambria,Georgia,serif; 
    font-size: 40px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: red;
    text-align: center;
}
.about-para{ /* Para containing the information */
    padding-top: 1%;
    font-size: 20px;
    font-family: Cambria,Georgia,serif; 

}
.what-we-show{
    color: red;
    list-style: none;
    font-size: 20px;
    font-family: Cambria,Georgia,serif; 
}