body{
    width: 100%;
    height: 130vh;
    background: mintcream;
}
/* ------------- NAV Section ------------------------------------------------------------------------- */
nav{  /* Main Nav DIV */
    position:fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:5px 20px 5px 0px;
    background: black;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
  }
  .name{
    color: white;
    font-size: 20px;
    margin: 10px;
  }
  .menu-item{ /* List Div */
    display:inline-block;
    margin-left:15px;
    margin-top: 10px;
  }
  .menu-item a{ /* The link for each list item & the time DIV */
    font-weight:400;
    color: white;
    font-size: 20px;
    margin: 10px;
  }