body{
    width: 100%;
    height: 150vh;
}
/* ------------- NAV Section ------------------------------------------------------------------------- */
nav{  /* Main Nav DIV */
    position:fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:5px 20px 5px 0px;
    background: black;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
  }
  .name{
    color: white;
    font-size: 20px;
    margin: 10px;
  }
  .menu-item{ /* List Div */
    display:inline-block;
    margin-left:15px;
    margin-top: 10px;
  }
  .menu-item a{ /* The link for each list item & the time DIV */
    font-weight:400;
    color: white;
    font-size: 20px;
    margin: 10px;
  }
  /* ------------ Header Section ----------------------------------------------------------------------------------- */

  .header{
      width: 98%;
      margin: 0 auto;
      height: 30vh;
      text-align: center;
  }
  .title{
      padding-top: 7%;
      font-size: 30px;
      font-family: Cambria,Georgia,serif;
  }

/* ------------------------------------- First Section Containing images to socials  ------------------------------ */

.social-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95%;
  height: 50vh;
  margin: 0 auto;
}
.social-images{
   list-style: none;
   margin: 1%;
   padding: 1%;
}
img{
  height: 250px;
  width: 250px;
  border-radius: 30%;
  border: 1px solid black;
}
/* ------------------------ Explanation Section ------------------------------------------------------------------ */
.explanation{
  display: flex;
  justify-content: center;
  width: 98%;
  margin: 0 auto;
  background: beige;
}
.sub-title{
  text-decoration: underline;
  text-decoration-color: red;
  font-size: 30px;
  font-family: Cambria,Georgia,serif;
}
/* -------------------------- List of Languages ------------------------------------------------------------------- */
.lang-list{
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 30vh;
  margin: 0 auto;
  background: beige;
}
.list{
  margin-top: 1%;
  margin-left: 5%;
  font-size: 20px;
  font-family: Cambria,Georgia,serif;
  color:red;
}
/* ------------------------------------------- Log in Box ------------------------------------------------------- */

.wrapper{
  margin-top: 10%;
  width: 60%;
  margin: 0 auto;
  height: 60vh;
}
.login{
  padding-top: -10%;
  display: flex;
  flex-direction: column;
}
.input{
  width: 50%;
  margin: 0 auto;
  height: 3vh;
  margin-top: 1%;
}
.forgot{
  width: 50%;
  margin: auto;
  font-size: 15px;
  font-family: Cambria,Georgia,serif;
  color:black;
}
.login-title{
  text-align: center;
  font-size: 30px;
  font-family: Cambria,Georgia,serif;
  color:black;
}